<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="./../assets/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <title>Arítmetica</title>
</head>
<body>
    <header class="navbar_container">
        <div class="div_container">
          <img class="img_logo" src="./../assets/img/profe.png" alt="logo_adn"/>
          <h1 class="h1_style">Matemáticas</h1>
        </div>
        <nav class="nav_title">
          <ul class="nav_list">
            <li class="nav_item">Inicio</li>
            <Li class="nav_item">Contactenos</Li>
            <li class="nav_item">A cerca de nosotros</li>
          </ul>
        </nav>
      </header>
    <a href="./../index.html"><i class="fa-solid fa-arrow-left" style="font-size: 50px;"></i></a>
    <h1>Aritmética</h1>
</body>
</html>